---
# Only the main Sass file needs front matter (the dashes are enough)
---

[lang="ko"] body {
    font-family: "나눔 고딕","Nanum Gothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html, body {
    height: 100%;
}

a {
    color: #555;
}
a:focus, a:hover {
    color: #333;
}
p {
    a {
        color: #337ab7;
    }
    a:focus, a:hover {
        color: #23527c;
    }
}

.btn {
    border-radius: 0;
}

@import "syntax-highlighting";

section.chapter {
    position: relative;

    & + & {
        margin-top: 60px;
    }
}
a.anchor[name] {
    position: absolute;
    top: -80px;
}

.navbar-static-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid #ccc;
}

.navbar-static-top + .container {
    margin-top: 80px;
}

.navbar-brand {
    padding: 10px 15px;
    width: 80px;
    height: 70px;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    span {
        transition: 0.6s;
        position: absolute;
        top: 10px;
        left: 15px;
        backface-visibility: hidden;
    }
    span.front {
        transform: rotateY(0deg);
        z-index: 2;
    }
    &:hover span.front {
        transform: rotateY(180deg);
    }
    span.back {
        transform: rotateY(180deg);
    }
    &:hover span.back {
        transform: rotateY(0deg);
    }
    img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.navbar-toggle {
    padding: 12px 18px;
    margin-right: 5px;
    font-size: 20px;
}

@media (max-width: 767px) {
    aside .affix {
        position: static;
    }
}


.wandu-nav {
    &, ul {
        list-style: none;
        padding: 0;
    }
    li {
        // padding-left: 10px;
    }
    li > a {
        display: block;
        padding: 10px;
    }
    li > ul {
        display: none;
        margin-left: 10px;
    }
    li:hover > ul {
        display: block;
    }
}
