---
# Only the main Sass file needs front matter (the dashes are enough)
---

[lang="ko"] body {
    font-family: "나눔 고딕","Nanum Gothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html, body {
    height: 100%;
}

a {
    color: #555;
}
a:focus, a:hover {
    color: #333;
}

@import "syntax-highlighting";

.btn {
    border-radius: 0;
}

section.chapter {
    position: relative;
}
a.anchor[name] {
    position: absolute;
    top: -80px;
}

.navbar-static-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.8);
    border-bottom: 1px solid #ccc;
}

.navbar-static-top + main {
    margin-top: 80px;
}

.navbar-brand {
    padding: 10px 15px;
    background: url(/images/logo.png) no-repeat;
    background-size: 50px 50px;
    background-position: 15px 10px;
    width: 80px;
    overflow: hidden;
    text-indent: -999px;
    height: 70px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
