<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />

    <link rel="icon" type="image/x-icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
<header class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a href="/" class="navbar-brand">
                <span class="front"><img src="/images/logo.png" alt="" /></span>
                <span class="back"><img src="/images/logo-hover.png" alt="" /></span>
            </a>
        </div>
        <nav id="navigation" class="collapse navbar-collapse">
            <ul class="wandu-nav visible-xs">
{% capture navigation %}
{% for post in site.posts reversed %}
{% assign next_depth0 = post.next.date | date: "%y" %}
{% assign next_depth1 = post.next.date | date: "%m" %}
{% assign depth0 = post.date | date: "%y" %}
{% assign depth1 = post.date | date: "%m" %}
                <li>
                    <a href="/#{{ post.anchor}}">{{ post.title }}</a>
{% if prev_depth0 != depth0 %}
                    <ul>
{% else %}
                </li>
{% endif %}
{% if next_depth0 != depth0 %}
                    </ul>
{% endif %}
{% assign prev_depth0 = depth0 %}
{% assign prev_depth1 = depth1 %}
{% endfor %}
                <li><a href="/docs/di">컨테이너 (Container)</a></li>
                <li><a href="/docs/http">HTTP (PSR7)</a></li>
                <li><a href="/docs/validator">벨리데이터 (Validator)</a></li>
{% endcapture %}
{{ navigation }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/Wandu/Framework" target="_blank"><i class="fa fa-github"></i> View on Github</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <div class="row">
        <aside class="col-sm-4 col-md-3 hidden-xs">
            <div class="affix">
                <ul class="wandu-nav">
                    {{ navigation }}
                </ul>
            </div>
        </aside>
        <main class="col-sm-8 col-md-9">
            {{ content }}
        </main>
    </div>
</div>

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
<!--<![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
(function ($) {
    $('a[href^="http://"], a[href^="https://"]').not('a[href*=wandu\\.github\\.io]').attr('target','_blank');
})(jQuery);
</script>
</body>
</html>
